<div>
<div class="container">
  
</div>

<div class="container">

  <div>
    <ng-container *ngIf="tasksList.length > 0; else noTask">
    <ul>
      <li *ngFor="let task of tasksList">
        {{task}}
        <button (click)="remove(task)">Usuń</button>
        <button (click)="done(task)">Zrobione</button>
      </li>
    </ul>
  </ng-container>
  <ng-template #noTask>
    <p>Czas wolny, wszystkie zadania wykonane!</p>
  </ng-template>
  </div>

  <div>
    <p>Wykonane zadania: {{tasksDone.length}}</p>
    <ul>
      <li *ngFor="let task of tasksDone">
        {{task}}
      </li>
    </ul>
  </div>
</div>
</div>
